@import "../../common/css/sunmar/sunmar-fluid-mixins";
@import "../../common/css/global-variables";

section.kv > article .contenu {
	max-width: 1920px !important;
	.kv-main-banner {
		position: relative;
		width: 100%;
		aspect-ratio: 192/50;
		border-radius: 32px;
		overflow: hidden;

		@media (max-width: 768px) {
			aspect-ratio: 343/520;
		}

		.content {
			--content-font-color: #ffffff;

			position: absolute;
			max-width: $max-content-width;
			margin-inline: auto;
			top: 0;
			left: 50%;
			width: 100%;
			height: 100%;
			transform: translateX(-50%);
			padding: 1em 4em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			z-index: 3;

			@media (max-width: 768px) {
				justify-content: start;
				align-items: center;
				padding: 1.5em;
			}

			> div {
				margin-top: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;
				gap: 0.5em;
				height: 100%;

				@media (max-width: 768px) {
					align-items: center;
					justify-content: start;
					margin-top: 0;
				}
			}

			h1,
			p {
				color: var(--content-font-color);
				@media (max-width: 768px) {
					text-align: center;
				}
			}

			h1 {
				@include font(56px);
				@media (max-width: 768px) {
					margin-top: 0;
					@include font(32px);
				}
			}

			p {
				font-weight: 400;
			}

			p.slogan {
				font-size: 1em;
			}

			p.erid {
				font-size: 10px;
				margin: auto 0 0 auto;
				@media (max-width: 768px) {
					margin: auto 0 0 0;
				}
			}
		}

		picture {
			position: relative;
			z-index: 2;
		}
	}
}
section.hero.benefits {
	article	{
		.contenu {

			.hero_items {
				display: grid;
				gap: 2em;
				width: 100%;
				grid-template-columns: repeat(3, 1fr);

				@media screen and (max-width: 768px) {
					grid-template-columns: repeat(1, 1fr);

				}

				.hero_item {
					max-width: 27em;
					display: flex;
					position: relative;
					align-items: center;
					background-color: #F8F8F8;
					-webkit-border-radius: 1.5em;
					-moz-border-radius: 1.5em;
					border-radius: 1.5em;
					padding: 0 2em;
					width: 100%;
					justify-content: space-between;
					gap: 1em;

					@media screen and (max-width: 768px) {
						max-width: 100%;
					}



					.text {
						font-size: 1em;
						font-weight: 600;
					}

					img {
						max-width: 7.5em;
						object-fit: contain;
					}

				}
			}
		}
	}
}