$border_Radius_Button: 40px;
$color_Base_Light: #fff;
$font_Color_Default: #000;

$сolor_Btn_Bg_Default: linear-gradient(225deg, #e7317d 0%, #d8242a 100%);
$сolor_Btn_Bg_Hover: linear-gradient(225deg, #f25999 0%, #dd353b 100%);
$сolor_Btn_Bg_Pressed: linear-gradient(225deg, #b92161 0%, #c11117 100%);

$font_Size_Body: 16px;
$font_Size_Heading_1: 36px;
$font_Size_Heading_2: 32px;
$font_Size_Heading_3: 28px;
$font_Size_Heading_4: 24px;
$font_Size_Heading_5: 20px;
$font_Line_Height_Body: 24px;
$font_Line_Height_Heading_1: 44px;
$font_Line_Height_Heading_2: 40px;
$font_Line_Height_Heading_3: 36px;
$font_Line_Height_Heading_4: 32px;
$font_Line_Height_Heading_5: 28px;
