$сolor_Text_Dark: #000000;
$color_Text_Light: #ffffff;
$color_Text_Highlight: #0092d0;
$сolor_Item_Overlay: rgba(0, 0, 0, 50);
$color_Base_Light: #ffffff;
$color_Base_Light_Alt: #f3f9ff;
$color_Btn_Text_Light: #ffffff;
$сolor_Btn_Bg_Default: #0092d0;
$color-Btn_Text_Dark: rgba(0, 0, 0, 85);
$color_Btn_Border_Ghost_Default: rgba(0, 0, 0, 15);
$color_Btn_Text_Disabled: rgba(0, 0, 0, 25);
$сolor_Btn_Bg_Hover: #33c2ff;
$сolor_Btn_Bg_Focused: #33c2ff;
$color_Btn_Border_Focused: #0092d0;
$сolor_Btn_Bg_Pressed: #077dad;
$сolor_Btn_Bg_Disabled: rgba(0, 0, 0, 4);
$color_Btn_Border_Disabled: rgba(0, 0, 0, 15);
$color_Btn_Border_Ghost_Hover: #33c2ff;
$color_Btn_Border_Ghost_Pressed: #077dad;
$color_Btn_Text_Ghost_Hover: #33c2ff;
$color_Btn_Text_Ghost_Focused: #33c2ff;
$color_Btn_Text_Ghost_Pressed: #077dad;
$color_Arrow_Active: #535353;
$color_Arrow_Hover: #33c2ff;
$color_Arrow_Disabled: rgba(0, 0, 0, 15);
$color_Arrow_Bg_Light: #ffffff;
$color_Pagination_Bg_Active: #077dad;
$color_Pagination_Bg_Default: rgba(51, 194, 255, 30);
$color_Pagination_Bg_Hover: #33c2ff;
$color_Tabs_Bg_Active: #e84f0e;
$color_Tabs_Text_Dark: rgba(0, 0, 0, 85);
$color_Tabs_Text_Light: #ffffff;
$border_Radius_Button: 8px;
$border_Radius_XXXL: 48px;
$border_Radius_XXL: 40px;
$border_Radius_XL: 32px;
$border_Radius_LG: 24px;
$border_Radius_MD: 20px;
$border_Radius_Base: 16px;
$border_Radius_SM: 12px;
$border_Radius_XXS: 4px;
$border_Radius_XXXS: 2px;
$padding_XXXL: 48px;
$padding_XXL: 40px;
$padding_XL: 32px;
$padding_LG: 24px;
$padding_MD: 20px;
$padding_Base: 16px;
$padding_SM: 12px;
$paddingXS: 8px;
$paddingXXS: 4px;
$paddingXXXS: 2px;
$margin_XXXL: 48px;
$margin_XXL: 40px;
$margin_XL: 32px;
$margin_LG: 24px;
$margin_MD: 20px;
$margin_Base: 16px;
$margin_SM: 12px;
$margin_XS: 8px;
$margin_XXS: 4px;
$margin_XXXS: 2px;
$font_Size_Body: 16px;
$font_Size_Label: 12px;
$font_Size_Heading_1: 36px;
$font_Size_Heading_2: 32px;
$font_Size_Heading_3: 28px;
$font_Size_Heading_4: 24px;
$font_Size_Heading_5: 20px;
$font_Line_Height_Body: 24px;
$font_Line_Height_Heading_1: 44px;
$font_Line_Height_Heading_2: 40px;
$font_Line_Height_Heading_3: 36px;
$font_Line_Height_Heading_4: 32px;
$font_Line_Height_Heading_5: 28px;
$font_Line_Height_label: 20px;
$font_Size_Btn: 16px;
